:root {
    --purpura: #2E294E;
    --azul1: #1679e3;
    --azul2: #034c96;
    --plata: #B0C4DE;
    --plata2: #8f9cad;
    --blanco: #d5dfe7;
    --downloadd: #00ffaa;
  }
  
body {
    margin: 0;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

/*Separador*/
#linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
  }

/*Header*/
header {
    background-color: black;
    padding: 5px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    position: sticky;
}

.logo {
    width: 80%;
}

.logo img {
    width: 5%;
    margin-left:2%;
}

.header-links {
    width: 30%;
}

.header-links ul, .header-links a {
    display: flex;
    text-decoration: none;
    color: white;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.4) ;
}

.header-links a {
    padding-right: 10%;

}

.header-links ul {
    padding-left: 0;
    margin-left: 0;
}

.header-links li {
    transition: text-decoration 0.3s ease-in-out;
}

.header-links li:hover {
    text-decoration: underline overline;
    text-decoration-color: var(--azul1);
}

/*Main*/

.main-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
    padding-top:10% ;
    padding-bottom: 10%;
    background-color: rgb(0, 0, 0);
}

.main-download h1 {
    font-family: "Road Rage", sans-serif;
    color: white;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
    
}

.main-download h2 {
    font-family: "Freeman", sans-serif;
    color: white;
}

/*Segunda seccion del main*/

.explicacion {
    display: flex;
    flex-direction:row;
    margin: 10%;
    margin-top: 5%;
    justify-content: space-around;
}

.explicacion-imagen {
    width: 30%;
}

.explicacion-texto {
    width: 50%;

}

.explicacion-texto h1 {
    margin-top: 0;
    font-size: 60px;
}

.explicacion-texto p {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 30px;
}

#img-explicacion {
    width: 120%;
    height: 120%;
}


/**Boton de descarga*/

.download-button {
    margin: 0;
    background-color: var(--purpura);
    width: fit-content;
    height:auto;
    width:200px;
    height:70px;
}

.download-button a {
    text-decoration: none;
    color:#fff;
}

button{
    background-color: var(--purpura);
    border-style: none;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: "Road Rage";
    font-weight: 200px;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--downloadd));
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0),  var(--downloadd));
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), var(--downloadd));
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), var(--downloadd));
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    box-shadow: 0px 5px 8px rgba(255, 255, 255, 0.4);
}
button:hover span{
    animation-play-state: paused;
}


/*Footer*/

footer {
    background-color: black;
    text-align: center;
    justify-content: center;
}

footer p {
    padding: 1%;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.4) ;
}
