:root {
    --purpura: #2E294E;
    --azul1: #1679e3;
    --azul2: #034c96;
    --plata: #B0C4DE;
    --blanco: #d5dfe7;
  }
  
body {
    margin: 0;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

/*Separador*/
#linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
  }

/*Header*/
header {
    /*background-image: url("../Images/cielo-estrellado.jpg");*/
    background-color: var(--purpura);
    display: flex;
    position: sticky;
}

.logo {
    max-width: 80%;
}

.logo img {
    max-width: 8%;
    margin-left:2%;
}

.header-links {
    max-width: 20%;
}

.header-links ul, .header-links a {
    display: flex;
    text-decoration: none;
    color: white;
    list-style: none;
}

.header-links a {
    padding-right: 10%;

}

.header-links ul {
    padding-left: 0;
    margin-left: 0;
}

.header-links li:hover {
    text-decoration: underline overline;
    text-decoration-color: var(--azul1);
}

/*Main*/
/* Parte del principio del principal*/
.principal-text-image {
    display: flex;
    background-color: var(--purpura);
}

.principal-text {
    margin-left: 6%;
    margin-right: 5%;
    /*border: 1px solid red;*/
    width: 50%;
}

h1 {
    margin-top: 10%
}

.principal-image {
    display: flex;
   /* border: 1px solid orangered;*/
    justify-content: center;
    padding: 3%;
    max-width: 40%;
    padding-right: 0;
}

.principal-image img{
    width: 70%;
    border: 1px solid black;
    padding: 3%;
}

.reves {
    display: flex;
    flex-direction: row-reverse !important;
    background-color: var(--plata) !important;
}

/**Boton de descarga*/

.download {
    display: flex;
    justify-content: left;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    padding-left: 8%;
    margin: 0;
    background-color: var(--purpura);

}

.download-button {
    padding: 10%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    font-size: large;
    border-radius: 15% 0 15% 0;
    box-shadow: 2% 2% 5px rgb(245, 0, 0);
    background-color: var(--azul1);
    color: white;
}

.download-button:hover {
    cursor:pointer;
    background-color: var(--azul2);
    color: var(--blanco);
    text-decoration: underline;
}


/*Footer*/

footer {
    background-color: var(--purpura);
    text-align: center;
    justify-content: center;
}

footer p {
    padding: 1%;
    margin: 0;
}